<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.FoodsMapper">

    <insert id="insert">
        insert into foods (name, type, descr, price, img)
        values (#{name}, #{type}, #{descr}, #{price}, #{img})
    </insert>


    <update id="updateById">
        update foods
        <set>
            <if test="name != null">name = #{name},</if>
            <if test="type != null">type = #{type},</if>
            <if test="descr != null">descr = #{descr},</if>
            <if test="price != null">price = #{price},</if>
            <if test="img != null">img = #{img},</if>
        </set>
        where id = #{id}
    </update>

    <delete id="deleteById">
        delete
        from foods
        where id = #{id}
    </delete>

    <select id="selectAll" resultType="com.example.entity.Foods">
        select foods.* from foods
        <where>
            <if test="name != null and name != ''">
                foods.name like concat('%', #{name}, '%')
            </if>
            <if test="type != null and type != ''">
                and foods.type = #{type}
            </if>
        </where>
        order by id desc
    </select>


</mapper>
